{% extends "base.html" %}
<!-- table_label -->
<!-- table_content -->
<!-- table_links - links for rows of the table -->

{% block content %}
<!--{% for name in names %}-->
<!--{% endfor %}-->

<table class="table table-hover">
    <thead>
    <tr>
        {% for l in table_label %}
        <th scope="col">{{ l }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table_content %}
    <tr class="clickable" onclick="window.location.href='{{ table_links[loop.index - 1] }}';">
        {% for element in row %}
        <td>{{ element }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}