{% extends "base.html" %}
<!-- g_name - nazwa gry -->
<!-- g_desc - opis gry -->
<!-- p_no - ilość graczy biorąca udział w rozgrywce -->
<!-- rank_formula - formuła do wyliczania punktór -->
<!-- table_label - nazwy kolumn opisujących gracza -->
<!-- table_content - opisy graczy -->
<!-- table_links - linki do stron graczy -->

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">{{g_name}}</h1>
    <p class="lead"> {{g_desc}} </p>
    <hr class="my-4">
    <p>gracze : {{p_no}}</p>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        {% for l in table_label %}
        <th scope="col">{{ l }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table_content %}
    <tr class="clickable" onclick="window.location.href='{{ table_links[loop.index - 1] }}';">
        {% for element in row %}
        <td>{{ element }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}