{% extends "base.html" %}
<!-- g_name - nazwa gry -->
<!-- g_desc - opis gry -->
<!-- p_no - ilość graczy biorąca udział w rozgrywce -->
<!-- rank_formula - formuła do wyliczania punktów -->
<!-- table_label - nazwy kolumn opisujących gracza -->
<!-- table_content - opisy graczy -->
<!-- table_links - linki do stron graczy -->
<!-- players_table_label - nazwy kolumn opisujących gracza -->
<!-- players_table_content - opisy graczy -->
<!-- players_table_links - linki do stron graczy -->
<!-- plays_table_label - nazwy kolumn opisujących rozgrywki -->
<!-- plays_table_content - opisy rozgrywek -->
<!-- plays_table_links - linki do stron rozgrywek -->

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">{{g_name}}</h1>
    <p class="lead"> {{g_desc}} </p>
    <hr class="my-4">
    <p>gracze : {{p_no}}</p>
    <p>formuła punktów : {{rank_formula}}</p>
</div>

<div class="row">

    <div class="col-6">
        <table class="table table-hover">
            <thead>
            <tr>
                {% for l in players_table_label %}
                <th scope="col">{{ l }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in players_table_content %}
            <tr class="clickable" onclick="window.location.href='{{ players_table_links[loop.index - 1] }}';">
                {% for element in row %}
                <td>{{ element }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <table class="table table-hover">
            <thead>
            <tr>
                {% for l in plays_table_label %}
                <th scope="col">{{ l }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in plays_table_content %}
            <tr class="clickable" onclick="window.location.href='{{ plays_table_links[loop.index - 1] }}';">
                {% for element in row %}
                <td>{{ element }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}